[submodule "favicon"]
	path = favicon
	url = git@github.com:ihavenoideaa/getFavicon.git
[submodule "meting-api"]
	path = meting-api
	url = git@github.com:ihavenoideaa/meting-api.git
[submodule "memos"]
	path = memos
	url = git@github.com:ihavenoideaa/memos_cache_api.git
